# Menu for Davinci DM646x based systems audio

menu " Davinci DM646x based systems audio support"
        depends on SOUND && MACH_DAVINCI_HD_EVM


config SOUND_DAVINCI_HD
	tristate "DaVinci HD Sound Driver"
	depends on ARCH_DAVINCI && MACH_DAVINCI_HD_EVM && SOUND_PRIME!=n && SOUND
	---help---
	DaVinci HD Sound driver

config SOUND_DAVINCI_TLV320AIC32
       tristate "TLV320AIC32 Stereo Codec"
       depends on SOUND_DAVINCI_HD
       default y if SOUND_DAVINCI_HD
       select SENSORS_TLV320AIC33
       ---help---
         If you say yes here you get support for the I2C control
         interface for Texas Instruments TLV320AIC32 audio codec.

endmenu
