#
# adp94xx 2.5.x kernel configuration file.
#
# $Id: //depot/razor-branch-v12/linux/src/Kconfig#1 $
#
config SCSI_ADP94XX
	tristate "Adaptec AIC94xx SAS/SATA support"
	depends on PCI && SCSI
	help
	This driver supports all of Adaptec's 3Gb/s PCI-X
	based SAS/SATA controllers.
