
menu "MontaVista System tools"

config XILINX_EDK
	bool
	depends on XILINX_VIRTEX
	default n

config ILATENCY
       bool "Interrupt Latency"
       depends on !CRITICAL_IRQSOFF_TIMING
       help
         This option turns on instrumentation in the kernel to measure the
         interrupt overhead and interrupt hold off times of the kernel and
         driver set for a particular system.  The measurement provides
         interrupt latency data to gain an understanding of what interrupt
         latencies look like for that system.

	 This instrumentation is mutually exclusive to CRITICAL_IRQSOFF_TIMING.
	 If you are analyzing interrupt latency and off times with DevRocket
	 you must use ILATENCY.

         The data is collected in /proc/ilatcurve, outlier data, or the
         maximum interrupt off offenders are collected in /proc/imaxoff.  This
         file has the longest interrupt off times and the file and line number
         of the interrupt off/on pair.  This file is useful for finding and
         debugging drivers that have poor interrupt latencies.

         Interrupt Latency Instrumentation should NOT be used in production
         systems.  It has a fairly large overhead to measure and collect the
         data.  It also should not be used with kernel preemption latency
         times collection as they will interfere with each other.

	 To set the interrupt latency timer speed pass tpu=XXX
	 on the command line, where XXX is the rate of the timer.  
	 If you do not know the rate of the timer being used on your system 
	 for interrupt latency measurement say N
	 to this feature.

         Say Y to this option if you are trying to understand the interrupt
         latency curve of your board.  This should be only used in the design
         and debug phase of your product.

config START_TMU1
	bool 
	default y
	depends on ILATENCY && SUPERH
endmenu
