comment "Multiplex Pin Select"


choice
	prompt "GPIO[04:09] ACLINK or I2S"
	default TOSHIBA_TX4939_MPLEX_GPIO04_09
config TOSHIBA_TX4939_MPLEX_GPIO04_09
	bool "GPIO"
config TOSHIBA_TX4939_MPLEX_ACLINK
	bool "ACLINK"
config TOSHIBA_TX4939_MPLEX_I2S
	bool "I2S"
endchoice


choice
	prompt "GPIO[10:11] I2C"
	default TOSHIBA_TX4939_MPLEX_GPIO10_11
config TOSHIBA_TX4939_MPLEX_GPIO10_11
	bool "GPIO"
config TOSHIBA_TX4939_MPLEX_I2C
	bool "I2C"
endchoice


choice
	prompt "GPIO[12:15] CTS/RTS or SIO2/3"
	default TOSHIBA_TX4939_MPLEX_GPIO12_15
config TOSHIBA_TX4939_MPLEX_GPIO12_15
	bool "GPIO"
config TOSHIBA_TX4939_MPLEX_SPI
	bool "SPI"
config TOSHIBA_TX4939_MPLEX_CTS_RTS
	bool "CTS/RTS"
config TOSHIBA_TX4939_MPLEX_SIO2
	bool "SIO2"
endchoice


choice
	prompt "G0PIO[00:29] ATA100-0"
	default TOSHIBA_TX4939_MPLEX_ATA0
config TOSHIBA_TX4939_MPLEX_G0PIO
	bool "GPIO"
config TOSHIBA_TX4939_MPLEX_ATA0
	bool "ATA100-0"
endchoice


choice
	prompt "G1PIO[00:29] ATA100-1 or Ether"
	default TOSHIBA_TX4939_MPLEX_ETHER
config TOSHIBA_TX4939_MPLEX_G1PIO
	bool "GPIO"
config TOSHIBA_TX4939_MPLEX_ATA1
	bool "ATA100-1"
config TOSHIBA_TX4939_MPLEX_ETHER
	bool "ETHER"
endchoice


choice
	prompt "G2PIO[00:16] Video port"
	default TOSHIBA_TX4939_MPLEX_G2PIO
config TOSHIBA_TX4939_MPLEX_G2PIO
	bool "GPIO"
config TOSHIBA_TX4939_MPLEX_PC_TRACE
	bool "PC-Trace"
config TOSHIBA_TX4939_MPLEX_1PARALLEL_PORT
	bool "1-Parallel&GPIO"
config TOSHIBA_TX4939_MPLEX_3SERIAL_PORT
	bool "3-Serial&GPIO"
config TOSHIBA_TX4939_MPLEX_1PARALLEL_1SERIAL
	bool "1-Serial&1-Parallel"
endchoice


choice
	prompt "PCICLK[1:4] Reset"
	default TOSHIBA_TX4939_MPLEX_RESET
config TOSHIBA_TX4939_MPLEX_RESET
	bool "RESET"
config TOSHIBA_TX4939_MPLEX_PCICLKON
	bool "PCICLK"
endchoice


choice
	prompt "CIR or SIO3"
	default TOSHIBA_RBTX4939_PIN_CIR
config TOSHIBA_RBTX4939_PIN_CIR
	bool "CIR"
config TOSHIBA_RBTX4939_PIN_SIO3
	bool "SIO3"
endchoice
