menu "TI Titan (TNETV1050) Configuration"

choice
	prompt "Titan reference board type"
	depends on MIPS_TITAN
	help
      Select the Titan Ref. Design Board that you are using. If you are not 
      using any of these, choose the one closest to your design and make 
      modifications to the kernel as required.

config MIPS_TNETV1050RDB
	depends on MIPS_TITAN
	bool "Titan RDB Board"

config MIPS_TNETV1050SDB
	depends on MIPS_TITAN
	bool "Titan SDB Board"

endchoice

config MIPS_AVALANCHE_CPMAC
	tristate "Texas Instruments Avalanche CPMAC support"       
    default m
    help
      Choose y/m, to compile the TI Avalanche CPMAC driver.

config MIPS_CPMAC_PORTS
    int
	range 1 2
    depends on MIPS_AVALANCHE_CPMAC
	default 2 if MIPS_TNETV1050SDB || MIPS_TNETV1050RDB 

config AVALANCHE_LOW_CPMAC	
	bool
    depends on MIPS_AVALANCHE_CPMAC
    default y if MIPS_TNETV1050SDB || MIPS_TNETV1050RDB

config AVALANCHE_HIGH_CPMAC
	bool
    depends on MIPS_AVALANCHE_CPMAC
	default y if MIPS_TNETV1050SDB || MIPS_TNETV1050RDB

config MIPS_CPMAC_INIT_BUF_MALLOC
        bool "CPMAC Init Buffer Malloc"
        depends on MIPS_AVALANCHE_CPMAC
        default y

config MIPS_AVALANCHE_SSP
	bool "Avalanche SSP support"
	default y
	help
	 Choose y to compile the Avalanche SSP driver.

config AVALANCHE_NUM_SER_PORTS
	depends on MIPS_AVALANCHE_SOC
	int
	default 1
	help
      Choose the correct number of serial ports on your soc here. If unsure
      consult the SoC specification from your vendor, but do not put a 
      wrong value here.

config AVALANCHE_CONSOLE_PORT
	depends on MIPS_AVALANCHE_SOC
    int
	default 0
	help
      Choose the Avalanche serial port number functioning as the ttyS0 (console)
      port. The valid values range from 0 through AVALANCHE_NUM_SER_PORTS - 1.

endmenu
