
menu "Avalanche SoC Common Options"

#
# Configuration options common to all avalanche series processors come here.
#
config CPU_FREQUENCY_AVALANCHE
	depends on MIPS_AVALANCHE_SOC
	int "Avalanche SoC CPU frequency (MHz)"
	default 125
	help
      Choose the default value here. The correct value will be read from
      the bootloader environment variables.

config MEMORY_START
	depends on MIPS_AVALANCHE_SOC
	hex "Avalanche SoC SDRAM start" 
	default 0x14000000
	help
      Choose the default value here. Unless you really know what you are
      doing.

config MIPS_AVALANCHE_LOAD_ADDRESS
	depends on MIPS_AVALANCHE_SOC
	hex "Avalanche SoC Linux Load address" 
	default 0xFFFFFFFF94020000
	help
      The default value should be good for most cases. Choose a value
      higher than the default if you are using more memory at the bottom
      than what the bootloader uses. Choosing a lesser value than the 
      default is strictly discouraged. You will most likely mess with
      the boot process. 

config MIPS_AVALANCHE_PSPBOOT
	depends on MIPS_AVALANCHE_SOC
	bool "Avalanche SoC PSPBoot Support" 
	default y
	help
      Choose Y here if PSPBoot is your bootloader. If you are using Adam2
      or any other bootloader, choose N. If unsure, contact your software
      vendor.

config MIPS_AVALANCHE_FREE_BOOTMEM
	depends on MIPS_AVALANCHE_SOC
	def_bool n if MIPS_AVALANCHE_ADAM2_JMP_TBL    
	bool "Free the memory occupied by bootloader"  if MIPS_AVALANCHE_PSPBOOT
	default y
	help
      Saying yes here will free-up the memory from (SDRAM base + 4K) to
      the start of linux text section. 
    
config AVALANCHE_SERIAL_AUTOFLOW 
	depends on MIPS_AVALANCHE_S0C
	bool "Avalanche Serial autoflow"
	default y
	help
      Choose Y here if you want to enable Auto flow control on Avalanche
      serial device. In unsure choose Y.

config MIPS_AVALANCHE_INTC 
	def_bool MIPS_AVALANCHE_SOC

#
# Get to know which specific SoC type the user wants to compile for.
#
choice
	prompt "TI BroadBand SOC Type (Avalanche Series)"
	depends on MIPS_AVALANCHE_SOC
	help
      Select the TI BoardBand SoC Type that you want the kernel port for. If
      unsure, contact your software vendor.
 
config MIPS_TITAN
	bool "TI MIPS TITAN (aka TNETV1050 or TNETV1060)"


endchoice

if MIPS_TITAN
    source "arch/mips/mips-boards/ti_avalanche/ti_titan/Kconfig"   
endif

endmenu
