#
# XFRM configuration
#
config XFRM_USER
	tristate "Transformation user configuration interface"
	depends on INET && XFRM
	---help---
	  Support for IPsec user configuration interface used
	  by native Linux tools.

	  If unsure, say Y.

config XFRM_ENHANCEMENT
	bool "Enhanced transformation (EXPERIMENTAL)"
	depends on INET	&& XFRM && EXPERIMENTAL
	---help---
	  Support for enhanced transformation.

	  If you want to use Mobile IPv6, say Y.

config XFRM_DEBUG
       bool "Transformation Debug Message"
       depends on XFRM_ENHANCEMENT
	---help---
	  You can say Y here if you want to get additional messages 
	  useful in debugging transformation code.
