if ARCH_DAVINCI

menu "TI DaVinci Implementations"

comment "DaVinci Core Type"

choice
	prompt "DaVinci ARCH type"
	default ARCH_DAVINCI_DM644x

config ARCH_DAVINCI_DM644x
	bool "DaVinci 644x based system"

config ARCH_DAVINCI_DM355
	bool "DaVinci DM355 based system"

config ARCH_DAVINCI_DM646x
	bool "DaVinci 646x based system"
endchoice

comment "DaVinci Board Type"

config MACH_DAVINCI_EVM
	bool "TI DaVinci EVM"
	default y
	depends on ARCH_DAVINCI_DM644x
	help
	  Configure this option to specify the whether the board used
	  for development is a DaVinci EVM

config MACH_DAVINCI_DM355_EVM
	bool "TI DM355 EVM"
	default n
	depends on ARCH_DAVINCI_DM355
	help
	  Configure this option to specify the whether the board used
	  for development is a DM355 EVM

config MACH_DAVINCI_HD_EVM
	bool "TI DaVinci HD EVM"
	default n
	depends on ARCH_DAVINCI_DM646x && !ARCH_DAVINCI_DM644x
	help
	  Configure this option to specify the whether the board used
	  for development is a DaVinci HD EVM

config DAVINCI_I2C_EXPANDER
	bool "TI DaVinci I2C Expander"
	default y
	depends on ARCH_DAVINCI_DM644x || ARCH_DAVINCI_DM646x || ARCH_DAVINCI_DM355
	select I2C_DAVINCI
	help
	  Configure this option to specify whether the board used
	  has I2C exapnder with ATA, USB, CF.

config DAVINCI_MUX
	bool "DAVINCI multiplexing support"
	depends on ARCH_DAVINCI
	default y
	help
	  Pin multiplexing support for DAVINCI boards. If your bootloader
	  sets the multiplexing correctly, say N. Otherwise, or if unsure,
	  say Y.

config DAVINCI_MUX_DEBUG
	bool "Multiplexing debug output"
	depends on DAVINCI_MUX
	help
	  Makes the multiplexing functions print out a lot of debug info.
	  This is useful if you want to find out the correct values of the
	  multiplexing registers.

config DAVINCI_MUX_WARNINGS
	bool "Warn about pins the bootloader didn't set up"
	depends on DAVINCI_MUX
	default y
	help
	  Choose Y here to warn whenever driver initialization logic needs
	  to change the pin multiplexing setup.  When there are no warnings
	  printed, it's safe to deselect DAVINCI_MUX for your product.

config DAVINCI_MCBSP
	bool
	prompt "DaVinci McBSP Driver" if SOUND_DAVINCI=y && ARCH_DAVINCI_DM646x=n
	depends on ARCH_DAVINCI
	default y if SOUND_DAVINCI
	---help---
	DaVinci McBSP driver.  Auto-enabled by DaVinci sound driver.

config DAVINCI_MCASP
	bool 
	prompt "DaVinci HD McASP Driver" if SOUND_DAVINCI_HD=y && ARCH_DAVINCI_DM644x=n
	depends on ARCH_DAVINCI && ARCH_DAVINCI_DM646x
	default y if SOUND_DAVINCI_HD
	---help---
	DaVinci HD McASP driver.  Auto-enabled by DaVinci HD sound driver.

comment "DaVinci Options"

config DAVINCI_BLK_DEV_CF
	bool "TI DaVinci CF Card Support"
	default Y
	depends on BLK_DEV_DAVINCI
	help
	  Configure this option to enable CF Card support.

config DM355_NAND_256KB_BLOCKS
	bool "NAND chip installed on DM355 EVM has 256KB blocks"
	default y
	depends on MACH_DAVINCI_DM355_EVM
	help
	The boot firmware on the DM355 EVM assumes a default partition map
	for NAND flash based on erase block offsets.  Thus, the partition map
	varies based on the size of the erase blocks in the particular NAND
	flash component installed on the board.  Answer Y here if the NAND
	chip (e.g a 16 Gigabit Micron MT29F16G08QAA) installed on your board
	has 256KB blocks.  Answer N here if the NAND chip (e.g. a 4 Gigabit
	Micron MT29F4G08AAA) installed on your board has 128KB blocks.

config DAVINCI_SPI
	bool "TI DAVINCI SPI device"
	default y
	help
	Configure this option to specify whether the board used
	has SPI device.

choice
	prompt "Low-level debug console UART"
	default DAVINCI_LL_DEBUG_UART0

config DAVINCI_LL_DEBUG_UART0
	bool "UART0"

config DAVINCI_LL_DEBUG_UART1
	bool "UART1"

endchoice

endmenu

endif
