#
# Logo configuration
#

menu "Logo configuration"

config LOGO
	bool "Bootup logo"
	depends on FB || SGI_NEWPORT_CONSOLE

config LOGO_LINUX_MONO
	bool "Standard black and white Linux logo"
	depends on LOGO
	default y

config LOGO_LINUX_VGA16
	bool "Standard 16-color Linux logo"
	depends on LOGO
	default y

config LOGO_LINUX_CLUT224
	bool "Standard 224-color Linux logo"
	depends on LOGO
	default y
endmenu
