# Menu for  Davinci DM644x based systems audio

menu " Davinci DM644x based systems audio support"
        depends on SOUND && (MACH_DAVINCI_EVM || MACH_DAVINCI_DM355_EVM)

config SOUND_DAVINCI
	tristate "DaVinci Sound Driver"
	depends on ARCH_DAVINCI && (MACH_DAVINCI_EVM || MACH_DAVINCI_DM355_EVM) && SOUND_PRIME!=n && SOUND
	select SOUND_DAVINCI_TLV320AIC33 if SOUND_DAVINCI
	---help---
	DaVinci Sound driver

config SOUND_DAVINCI_TLV320AIC33
       tristate "TLV320AIC33 Stereo Codec"
       depends on SOUND_DAVINCI
       default y if SOUND_DAVINCI
       select SENSORS_TLV320AIC33
       ---help---
         If you say yes here you get support for the I2C control
         interface for Texas Instruments TLV320AIC33 audio codec.

choice
	prompt "Mono/Stereo Jack Support"
	default MONOSTEREO_SAMEJACK

config MONOSTEREO_DIFFJACK
	bool "Mono and Stereo on different jacks"

config MONOSTEREO_SAMEJACK
	bool "Mono and Stereo on same jacks"
endchoice

endmenu
