# ALSA ARM drivers

menu "ALSA ARM devices"
	depends on SND!=n && ARM

config SND_SA11XX_UDA1341
	tristate "SA11xx UDA1341TS driver (iPaq H3600)"
	depends on ARCH_SA1100 && SND && L3
	select SND_PCM
	help
	  Say Y here if you have a Compaq iPaq H3x00 handheld computer
	  and want to use its Philips UDA 1341 audio chip.

	  To compile this driver as a module, choose M here: the module
	  will be called snd-sa11xx-uda1341.

config SND_PXA2xx_SND
	tristate "AC97 driver for the Intel PXA2xx chip"
	depends on ARCH_PXA && SND && (!PXA3xx)
	select SND_PXA2xx_PCM
	select SND_PXA2xx_AC97
	select SND_AC97_CODEC
	help
	  Say Y or M if you want to support any AC97 codec attached to
	  the PXA2xx AC97 interface.

config SND_PXA3xx_SND
	tristate "AC97 driver for the Marvell PXA3xx chip"
	depends on PXA3xx && SND
	select SND_PXA2xx_PCM
	select SND_PXA2xx_AC97
	help
	  Say Y or M if you want to support Wolfson WM9713L codec
	  attached to the PXA3xx AC97 interface.

config SND_PXA2xx_AC97
	tristate
	depends on ARCH_PXA
	help
	  Generic driver for the ac97 bus on Intel/Marvell PXA2xx and
	  PXA3xx chips

config SND_PXA2xx_PCM
	tristate
	select SND_PCM
	help
	  Generic PCM module for PXA2xx

endmenu

