#
# QE UCC options
#

config UCC1
	bool "Enable QE UCC1"

choice
	prompt "UCC1 speed selection"
	depends on UCC1
	default UCC1_SLOW

	config UCC1_SLOW
		bool "UCC1 is slow"
	config UCC1_FAST
		bool "UCC1 is fast"
endchoice

menu "UCC1 Protocols options"
	depends on UCC1

	choice
		prompt "UCC1 Slow Protocols selection"
		depends on UCC1_SLOW
		default UCC1_UART

		config UCC1_UART
			bool "UCC1 is UART"
	endchoice

	choice
		prompt "UCC1 Fast Protocols selection"
		depends on UCC1_FAST
		default UCC1_GETH

		config UCC1_GETH
			bool "UCC1 is GETH"
	endchoice
endmenu

config UCC2
	bool "Enable QE UCC2"

choice
	prompt "UCC2 speed selection"
	depends on UCC2
	default UCC2_SLOW

	config UCC2_SLOW
		bool "UCC2 is slow"
	config UCC2_FAST
		bool "UCC2 is fast"
endchoice

menu "UCC2 Protocols options"
	depends on UCC2

	choice
		prompt "UCC2 Slow Protocols selection"
		depends on UCC2_SLOW
		default UCC2_UART

		config UCC2_UART
			bool "UCC2 is UART"
	endchoice

	choice
		prompt "UCC2 Fast Protocols selection"
		depends on UCC2_FAST
		default UCC2_GETH

		config UCC2_GETH
			bool "UCC2 is GETH"
	endchoice
endmenu

config UCC3
	bool "Enable QE UCC3"

choice
	prompt "UCC3 speed selection"
	depends on UCC3
	default UCC3_SLOW

	config UCC3_SLOW
		bool "UCC3 is slow"
	config UCC3_FAST
		bool "UCC3 is fast"
endchoice

menu "UCC3 Protocols options"
	depends on UCC3

	choice
		prompt "UCC3 Slow Protocols selection"
		depends on UCC3_SLOW
		default UCC3_UART

		config UCC3_UART
			bool "UCC3 is UART"
        endchoice

	choice
		prompt "UCC3 Fast Protocols selection"
		depends on UCC3_FAST
		default UCC3_GETH

		config UCC3_GETH
			bool "UCC3 is GETH"
	endchoice
endmenu

config UCC4
	bool "Enable QE UCC4"

choice
	prompt "UCC4 speed selection"
	depends on UCC4
	default UCC4_SLOW

	config UCC4_SLOW
		bool "UCC4 is slow"
	config UCC4_FAST
		bool "UCC4 is fast"
endchoice

menu "UCC4 Protocols options"
	depends on UCC4

	choice
		prompt "UCC4 Slow Protocols selection"
		depends on UCC4_SLOW
		default UCC4_UART

		config UCC4_UART
			bool "UCC4 is UART"
	endchoice

	choice
		prompt "UCC4 Fast Protocols selection"
		depends on UCC4_FAST
		default UCC4_GETH

		config UCC4_GETH
			bool "UCC4 is GETH"
	endchoice
endmenu

config UCC5
	bool "Enable QE UCC5"

choice
	prompt "UCC5 speed selection"
	depends on UCC5
	default UCC5_SLOW

	config UCC5_SLOW
		bool "UCC5 is slow"
	config UCC5_FAST
		bool "UCC5 is fast"
endchoice

menu "UCC5 Protocols options"
	depends on UCC5

	choice
		prompt "UCC5 Slow Protocols selection"
		depends on UCC5_SLOW
		default UCC5_UART

		config UCC5_UART
			bool "UCC5 is UART"
	endchoice

	choice
		prompt "UCC5 Fast Protocols selection"
		depends on UCC5_FAST
		default UCC5_GETH

		config UCC5_GETH
			bool "UCC5 is GETH"
	endchoice
endmenu

config UCC6
	bool "Enable QE UCC6"

choice
	prompt "UCC6 speed selection"
	depends on UCC6
	default UCC6_SLOW

	config UCC6_SLOW
		bool "UCC6 is slow"
	config UCC6_FAST
		bool "UCC6 is fast"
endchoice

menu "UCC6 Protocols options"
	depends on UCC6

	choice
		prompt "UCC6 Slow Protocols selection"
		depends on UCC6_SLOW
		default UCC6_UART

		config UCC6_UART
			bool "UCC6 is UART"
	endchoice

	choice
		prompt "UCC6 Fast Protocols selection"
		depends on UCC6_FAST
		default UCC6_GETH

		config UCC6_GETH
			bool "UCC6 is GETH"
	endchoice
endmenu

config UCC7
	bool "Enable QE UCC7"

choice
	prompt "UCC7 speed selection"
	depends on UCC7
	default UCC7_SLOW

	config UCC7_SLOW
		bool "UCC7 is slow"
	config UCC7_FAST
		bool "UCC7 is fast"
endchoice

menu "UCC7 Protocols options"
	depends on UCC7

	choice
		prompt "UCC7 Slow Protocols selection"
		depends on UCC7_SLOW
		default UCC7_UART

		config UCC7_UART
			bool "UCC7 is UART"
	endchoice

	choice
		prompt "UCC7 Fast Protocols selection"
		depends on UCC7_FAST
		default UCC7_GETH

		config UCC7_GETH
			bool "UCC7 is GETH"
	endchoice
endmenu

config UCC8
	bool "Enable QE UCC8"

choice
	prompt "UCC8 speed selection"
	depends on UCC8
	default UCC8_SLOW

	config UCC8_SLOW
		bool "UCC8 is slow"
	config UCC8_FAST
		bool "UCC8 is fast"
endchoice

menu "UCC8 Protocols options"
	depends on UCC8

	choice
		prompt "UCC8 Slow Protocols selection"
		depends on UCC8_SLOW
		default UCC8_UART

		config UCC8_UART
			bool "UCC8 is UART"
	endchoice

	choice
		prompt "UCC8 Fast Protocols selection"
		depends on UCC8_FAST
		default UCC8_GETH

		config UCC8_GETH
			bool "UCC8 is GETH"
	endchoice
endmenu

config UCC
	depends on UCC1 || UCC2 || UCC3 || UCC4 || UCC5 || UCC6 || UCC7 || UCC8
	default y
	bool

config UCC_SLOW
	depends on UCC1_SLOW || UCC2_SLOW || UCC3_SLOW || UCC4_SLOW || UCC5_SLOW || UCC6_SLOW || UCC7_SLOW || UCC8_SLOW
	default y
	bool

config UCC_FAST
	depends on UCC1_FAST || UCC2_FAST || UCC3_FAST || UCC4_FAST || UCC5_FAST || UCC6_FAST || UCC7_FAST || UCC8_FAST
	default y
	bool

config UCC_GETH
	depends on UCC1_GETH || UCC2_GETH || UCC3_GETH || UCC4_GETH || UCC5_GETH || UCC6_GETH || UCC7_GETH || UCC8_GETH
	default y
	bool

config UGETH_NAPI
	depends on UCC_GETH
	bool "UCC GETH NAPI support"
