config PHOENIX_PSB
	bool 
	default y

config RMI_PTR
	bool
	default y

config PHOENIX_SMP_PREFIX
	bool 'Support for printk SMP prefix'
	depends on RMI_PHOENIX
	help
	Selecting this option will result in prefixing of kernel printk's by
	the logical CPU ID.

config PHOENIX_MAC
	bool 'Support for On-Chip MAC'
	depends on RMI_PHOENIX
	help
	Selecting this option will enable support for on-chip 1G MACs.

config PHOENIX_USER_MAC
	bool 'Support for User Mac'
	depends on PHOENIX_MAC

config PHOENIX_SPI4
	bool 'Support for on-chip SPI4 interfaces'
	depends on RMI_PHOENIX
	help
	With the Vitesse SPI4 daughter card, this driver will abstract the 
	20 SPI4 channels as Gigabit ethernet interfaces.

config PHOENIX_DMA
	bool 'Support for On-Chip DMA Engine'
	depends on RMI_PHOENIX
	default n
	help
	Selecting this option will enable support for XLR DMA engine. 

config PHOENIX_DMA_PAGEOPS
	bool 'Support for Copy page using DMA engine'
	depends on PHOENIX_DMA
	default n
	help
	Selecting this option will enable copy_page to use DMA instead of 
	CPU copy.

config PHOENIX_TRACEBUFFER
	bool 'Driver for capturing tracebuffer contents'
	depends on RMI_PHOENIX
	help
	With the help of this driver and a simple application, one can capture
	tracebuffer FIFO contents into a file. Sample application is 
	provided in apps/tracebuffer

config PHOENIX_EARLY_PRINTK
	bool 'Support for Early printk'
	depends on RMI_PHOENIX
	default y
	help
	Selecting this option will enable output of kernel log messages on
	the serial console before the actual serial port driver is loaded.

config PHOENIX_FAST_CSUM
	bool 'Support for Fast Checksum using DADDWC'
	depends on RMI_PHOENIX
	default y
	help
	Selecting this option will enable checksum(TCP) computations using XLR
	specific daddwc instruction. This will double the speed of checksum
	computations.

